body {
    padding-top: 1%;
    font-family: 'Nunito', sans-serif;
}

#dygraphs-example {
    width: 50%;
    height: 50%;
}

.hottest-annotation {
    color: #dd421d !important;
    border-color: #dd421d !important;
}

.coldest-annotation {
    color: #29bac1 !important;
    border-color: #29bac1 !important;
}